<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Activation</title>
</head>

<body>
  <p>Dear user,</p>
  <p>Thank you for signing up. Please click the link below to activate your account:</p>
  <a href="{{ activationLink }}">{{ activationLink }}</a>
  <p>If you didn't sign up, please ignore this email.</p>
</body>

</html>