*,
*::before,
*::after {
  box-sizing: border-box;
}

/* TABLE */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  table-layout: fixed;
  /* Фіксовані розміри для стовпців */
}

thead th {
  background-color: #af4927;
  color: #ecf0f1;
  padding: 15px;
  border: 1px solid #34495e;
  text-align: left;
  height: 20px;
}

tbody tr:nth-child(even) {
  background-color: #ecf0f1;
}

tbody td {
  padding: 5px;
  border: 1px solid #34495e;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* BUTTON */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  border: 1px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    box-shadow 0.3s;
}

.active-btn {
  background-color: #2980b9;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* PAGINATION */
.pagination {
  display: flex;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;

}

.disabled {
  opacity: 0.5; 
  cursor: not-allowed; 
}

/* ORDER FORM */
.order-form{
  width: 100%;
}
ol{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
}
ol li{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  width: 100%;
  background-color: #fafeff;
  font-size: 0.9rem;
}