*,
*::before,
*::after {
  box-sizing: border-box;
}

/*  ---  TABLE --- */
table {
  border-collapse: collapse;
  width: 100%;
}

thead th {
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody td {
  padding: 10px;
  border: 1px solid #ddd;
}